#main {
    background-color: darkblue;
    color: antiquewhite;
    display: inline-block;
    align-items: center;
    width: 100%;
    margin: 15px;
    
}
#main li{
    text-decoration: underline;
    color: aqua;
}
#red {
    border-radius: 25px ;
    background: red;
    padding: 25px;
    width: 98%;
    height: 150;
    margin: 10px;
    
}
#black {
    border-radius: 25px ;
    background: black;
    padding: 25px;
    width: 75%;
    height: 800px;
    margin: 10px;
}
#green {
    background-color: cadetblue;
    border-radius: 25px;
    padding: 25px;
    width: 20%;
    margin: 10px ;
}
#gray {
    background-color: darkgrey;
    color: cornsilk;
    border-radius: 25px;
    padding: 25px;
    margin: 10px ;
    width: 98%;
}